<li class="nav-item">
    <a href="@Url.Action("Home", "Auth")" class="nav-link">Home</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("AddMovie", "Admin")" class="nav-link">Add Movie</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("MovieList", "Admin")" class="nav-link">View Movies</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("MovieShows", "Admin")" class="nav-link">Add Show Timing</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("UserBooking", "Admin")" class="nav-link">User Bookings</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Logoff", "Auth")" class="btn btn-danger">Log Off</a>
</li>