<li class="nav-item">
    <a href="@Url.Action("Home", "Auth")" class="nav-link">Home</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("MovieList", "User")" class="nav-link">Movies</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("MyBooking", "User")" class="nav-link">My Bookings</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("ShowList", "User")" class="nav-link">Show List</a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Logoff", "Auth")" class="btn btn-danger">Log Off</a>
</li>