@model IEnumerable<MovieTicketBooking.Models.Movie>

@{
    ViewBag.Title = "Movie List";
}

<div class="container my-5 py-3">
    <table class="table table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieImage)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPrice)
                </td>
                <td>
                    <img src="@Url.Content(item.MovieImage)" alt="@Html.Raw(item.MovieName)" height="120" width="100">
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditMovie", new { id = item.MovieId }, new { @class = "badge badge-info" })
                    @Html.ActionLink("Details", "MovieDetails", new { id = item.MovieId }, new { @class = "badge badge-warning" })
                    @Html.ActionLink("Delete", "DeleteMovie", new { id = item.MovieId }, new { @class = "badge badge-danger" })
                </td>
            </tr>
        }
    </table>
</div>